api/static/
api/api
api/env/

blog/.git_old/
blog/.next/
node_modules/
blog/public/

blog-react/public


db/dump/

docker-compose*

mongodb_data/
mongodb_data_dev/

*.env

gpt4all/models/
gpt4all/env/

stable-diffusion/env/